UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
IndentCaseLabels: false
AlignOperands: false
ColumnLimit: 0
