:root {
  --dripcap-theme-background: #f4f3ec;
  --dripcap-theme-text: #22221b;
  --dripcap-theme-label: #5f9182;
  --dripcap-theme-headline: #7d9726;
  --dripcap-theme-focus: #ba6236;
  --dripcap-theme-border: #e7e6df;
  --dripcap-theme-summary: #9d6c7c;
  --dripcap-theme-highlight: #929181;
  --dripcap-theme-error: #ba6236;
  --dripcap-theme-scroll-bar: #e7e6df;  
}
