:root {
  --dripcap-theme-background: #eff1f5;
  --dripcap-theme-text: #4f5b66;
  --dripcap-theme-label: #8fa1b3;
  --dripcap-theme-headline: #96b5b4;
  --dripcap-theme-focus: #a3be8c;
  --dripcap-theme-border: #96b5b4;
  --dripcap-theme-summary: #8fa1b3;
  --dripcap-theme-highlight: #a3be8c;
  --dripcap-theme-error: #bf616a;
  --dripcap-theme-scroll-bar: #a7adba;
}
